@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}
:root {
    --bg: rgba(43, 44, 58, 0.96);
    --qst: rgba(43, 44, 58);
    --dsh: #D8D8D8;
    --wr: rgba(216,216,216);
}
html,body {
    height: 100%;
    margin: 0 auto;
    font-family:'Jost';
    scroll-behavior: smooth;
}
.wrapper {
    max-width: 1440px;
    height: 100%;
    display: flex;
    background-color: var(--wr);
    color: #FFFFFF;
    font-family: Jost;
    font-style: normal;
}
a {
    color: #FFFFFF;
    font-family: Jost;
    font-style: normal;
}

.leftbar {
    width: 280px;
    position: relative;
}

.leftbar__top {
    height: 70px;
    background-color: var(--bg);
    display: ;
}
.leftbar__top__content{
    position: absolute;
}
.leftbar__top__content__logo {
    display: flex;
    justify-content: space-between;
}
.logo__year {
    font-weight: 500;
    font-size: 10.7331px;
    line-height: 16px;
}

.beeinerns {
    font-weight: bold;
    font-size: 22.1818px;
    line-height: 32px;
}

.sidenav {
    height: 500px;
    width: 100%;
    padding: 20px;
    margin-top: 1px;
    background-color: var(--bg);
    box-sizing: border-box;
}
.sidenav > div a {
    text-decoration: none;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
}

.dropdown-container {
    padding-left: 8px;
    display: none;
}

.leftbar__bottom {
    margin-top: 1px;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

.subscribe {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-top: 1px;    
}
.main {
    width: 100%;
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--qst);
}
.topbar__link > a {
    text-decoration: none;
    padding-left: 20px;
}
.topbar__btn {
    display: flex;
    justify-content: center; 
}
.topbar__btn > div {
    height: 24px;
    padding: 10px;
    background-color: rgba(255 255 255 0.001);
    border-radius: 5px;
    border: rgba(255 255 255 0.001);
    box-sizing: border-box;
}
.topbar__btn_pro {
    height: 14px;
    width: 40px;
    background-color: #6F6EFF;
    color: white;
}
.weekly {
    margin-top: 1px;
    background-color: var(--qst);
}
.weekly__quest {
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
}
.box > div {
    width: 255px;
    height: 294px;   
}
.box img {
    background-size: cover;
    width: 255px;
    height: auto;
}
.weekly__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 54px;
}
.weekly__top_btn {
    display: flex;
}